@tailwind base;
@tailwind components;
@tailwind utilities;
.root{
font-family: 'Roboto', sans-serif;
}
#body{
    background: #05292E;
}
/* Location*/
.img img{
width:100%;
height:220px;
  }
.Form{
padding:35px;
}
.inputForm{
width: 250px;
padding-left:15px;
}
.search{
background:#062226;
padding: 15px;
font-size:18px;
color:white;
font-weight:bold;
}
.ContainerLocation{
display:flex;
justify-content:center;
gap:50px;
flex-direction:row;
padding:20px;
margin-bottom:20px;
font-size:28px;
}
.ContainerLocation span{
font-size:23px;
font-weight:bold;
}
/*ResidentInfo*/
.Resident{
display: flex;
justify-content:center;
font-size:20px;
color:white;
}
.Resident li span{
color:#7E7E7E;
font-size:25px;
}
.Resident li{
font-size: 30px;
}
.ListResident{
margin-left:15%;
margin-right:15%;
display:grid;
gap:rem;
grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
grid-template-rows:auto;
justify-item:center;
color:white;
font-size:35px;
}
/*ResidentList*/
.ContainerButton{
  display:flex;
  justify-content:center;
  font-size:20px;
  gap:15px;
}
.ButtonPreNext{
  width:10%;
  background: #062226;
  border-radius:4.5px;
  color:white;
}
.buttonPage{
  width: 2.5rem;
  aspect-ratio:1;
  display:flex;
  justify-content: center;
  align-item:center;
  font-weight: bold;
  color:#7E7E7E;
  background: #062226;
  border-radius:50%;
}
.ButtonAct,
.buttonPage:hover{
  color:#062226;
  background: #7E7E7E;
  cursor:pointer;
}
/*Loader*/
.loader {
    width:100px;
    animation: rotate 1s infinite;
    height: 100px;
    margin-left:55%;
    margin-top:55%;
  }
  .loader:before,
  .loader:after {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: box1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 #34A239;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: box2 1s infinite;
    background-color: #34A239;
    box-shadow: 30px 0 0 #fff;
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes box1 {
    0% {
      box-shadow: 30px 0 0 #34A239;
    }
    50% {
      box-shadow: 0 0 0 #34A239;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #34A239;
      margin-bottom: 10px;
    }
  }

  @keyframes box2 {
    0% {
      box-shadow: 30px 0 0 #fff;
    }
    50% {
      box-shadow: 0 0 0 #fff;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #fff;
      margin-top: 0;
    }
  }
    
  @media (max-width: 600px){
    .img img{
        height:120px;
        }
        .NameLocation{
          font-size:28px;
        }
      .Form{
      padding:15px;
      }
      .inputForm{
      width: 230px;
      }
      .search{
      padding: 10px;
      font-size:15px;
       }
      .ContainerLocation{
      gap:15px;
      padding:10px;
      font-size:15px;
      }
      .ContainerLocation span{
      font-size:13px;
      }
      /*ResidentInfo*/
      .Resident li span{
      color:#7E7E7E;
      font-size:15px;
      }
      .Resident li{
      font-size: 15px;
      }
      .ListResident{
      grid-template-columns:repeat(auto-fill, minmax(150px, 1fr));
      }
      /*ResidentList*/
      .ContainerButton{
        font-size:15px;
        gap:25px;
      }
      .ButtonPreNext{
        width:15%;
      }
      .buttonPage{
        width: 2.0rem;
      }
     
  }